

.prodimage{
    max-width: 360px;
    max-height: 360px;
    transition: all .2s ease-in-out;
    
   
    
    

}
.prodimage:hover {
    transform: scale(1.1);

    
}


.prodcontainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-size-adjust: 100px;
      gap:140px;

      
     
    

}
.bikenames{
    font-size: 12px;
    text-align: center;

}



