

.prodimage{
    max-width: 500px;
    max-height: 500px;
    
   
    
    

}


.prodcontainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-size-adjust: 100px;
      gap:60px;

      
     
    

}
.bikenames{
    font-size: 10px;
    text-align: center;

}

